<div *ngIf="personas" class="card">
    <div class="card-body">
        <h5>Personas</h5>
        <p class="card-text"></p>
    </div>
</div>
<br>
<div *ngIf="personas" class="table table-striped">
    <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nacionalidad</th>
            <th scope="col">Fecha nacimiento</th>
            <th scope="col">Email</th>
            <th scope="col">Ocupación</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of personas; let i = index">
            <td>{{ persona.id }}</td>
            <td><img [src]="persona.foto ? persona.foto : fotoDefault" height="50" width="50"
                    style="border-radius: 40%;" alt="foto de {{ persona.nombre }}"></td>
            <td>{{ persona.apellido }} {{ persona.nombre }}</td>
            <td>{{ persona.nacionalidad }}</td>
            <td>{{ persona.fechaNacimiento }}</td>
            <td>{{ persona.email }}</td>
            <td>{{ persona.ocupacion }}</td>
            <td>{{ persona.descripcion }}</td>
            <td>
                <button [routerLink]=" ['/persona/', persona.id]" class="button btn btn-primary">Ver</button>
            </td>
        </tr>
    </tbody>
</div>