<div class="container">
    <!-- <p><strong>N°: </strong>{{ trabajo.id }}</p> -->
    <h3><strong>Cargo: </strong>{{ trabajo.cargo }}
        <div *ngIf="autorizacion">
            <button mat-icon-button color="primary" (click)="onEdit(trabajo)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(trabajo)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </h3>
    <h4><strong>Nombre la empresa: </strong>{{ trabajo.empresa }}</h4>
    <p><strong>Periodo trabajado </strong></p>
    <p><strong>Desde: </strong>{{ trabajo.desde | date:'longDate' }}</p>
    <p><strong>Hasta: </strong>{{ trabajo.hasta | date:'longDate' }}</p>
    <p><strong>Lugar: </strong>{{ trabajo.lugar }}</p>
</div>
<mat-divider></mat-divider>