<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/personas">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span *ngIf="persona">Portfolio de {{ persona.nombres }} {{ persona.apellidos }}</span>
    <span class="spacer"></span>
    <!-- link -->
    <a mat-button href="https://www.facebook.com/" target="_blank">
        <mat-icon>facebook</mat-icon>
    </a>
    <a mat-button href="https://www.facebook.com/" target="_blank">
        <mat-icon>linkedin-box</mat-icon>
    </a>
    <app-boton-login></app-boton-login>
</mat-toolbar>

<mat-card *ngIf="persona" class="persona">
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{
            'background-image': 'url(' + persona.imagen  + ')',
            'background-size': 'cover'    
        }">
        </div>
        <mat-card-title>{{ persona.nombres }} {{ persona.apellidos }}
            <div *ngIf="checkPermisoEditar()">
                <button mat-icon-button color="primary" (click)="editarPersona()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image src="{{ persona.imagen }}" alt="{{ persona.nombres }}" width="50" height="50"> -->

    <mat-card-content>
        <p>ID: {{ persona.id }}</p>
        <p> {{ persona.ocupacion }}</p>
        <p> {{ calcularEdad() }} años</p>
        <p>{{ persona.nacionalidad }}</p>
        <p>{{ persona.fechaNacimiento }}</p>
        <a href="mailto:{{ persona.email }}">Información de contacto</a>
    </mat-card-content>
    <mat-card-footer>
        <h2>Acerca de</h2>
        <p>{{ persona.descripcion }}</p>
    </mat-card-footer>
</mat-card>

<app-trabajos *ngIf="persona" [listadoTrabajos]="persona.experienciasLaborales" [personaId]="persona.id"
    [autorizacion]="checkPermisoEditar()">
</app-trabajos>
<app-estudios *ngIf="persona" [listadoEstudios]="persona.estudios" [personaId]="persona.id"
    [autorizacion]="checkPermisoEditar()"></app-estudios>
<app-habilidades *ngIf="persona" [listadoHabilidades]="persona.habilidades" [personaId]="persona.id"
    [autorizacion]="checkPermisoEditar()">
</app-habilidades>
<app-proyectos *ngIf="persona" [listadoProyectos]="persona.proyectos" [personaId]="persona.id"
    [autorizacion]="checkPermisoEditar()">
</app-proyectos>