<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<mat-card>
    <mat-card-title>Hard Skills & Soft Skills</mat-card-title>

    <mat-card-content>
        <app-habilidad-item *ngFor="let habilidad of listadoHabilidades" [habilidad]="habilidad"
            (onDeleteHabilidad)="onDelete(habilidad)" (onEditHabilidad)="onEdit(habilidad)"
            [autorizacion]="autorizacion">
        </app-habilidad-item>
    </mat-card-content>

    <mat-card-actions align="end" *ngIf="autorizacion">
        <button mat-raised-button color="accent" (click)="agregarHabilidad()">Agregar habilidad</button>
    </mat-card-actions>
</mat-card>