<div class="container">
    <!-- <p><strong>N°: </strong>{{ proyecto.id }}</p> -->
    <h3><strong>Nombre: </strong>{{ proyecto.nombre }}
        <div *ngIf="autorizacion">
            <button mat-icon-button color="primary" (click)="onEdit(proyecto)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(proyecto)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </h3>
    <p><strong>Descripción: </strong>{{ proyecto.descripcion }}</p>
</div>
<mat-divider></mat-divider>