<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>

<mat-card>
    <h1 mat-dialog-title>Registrarse</h1> 
    
    <!-- <mat-divider></mat-divider> -->
    
    <mat-dialog-content mat-dialog-content>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" formControlName="username" matInput placeholder="name@example.com">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint>Correo electrónico</mat-hint>
                <div *ngIf="username?.errors && username?.touched">
                    <mat-error *ngIf="username?.hasError('required')">El nombre de usuario es requerido.</mat-error>
                    <mat-error *ngIf="username?.hasError('email')">El correo electrónico no es válido.</mat-error>
                </div>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input type="password" formControlName="password" matInput placeholder="Contraseña">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Tu contraseña</mat-hint>
                <div *ngIf="password?.errors && password?.touched">
                    <mat-error *ngIf="password?.hasError('required')">La contraseña es requerida.</mat-error>
                    <mat-error *ngIf="password?.hasError('minlength')">La contraseña debe tiener 8 o más caracteres.</mat-error>
                </div>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Repetir Contraseña</mat-label>
                <input type="password" matInput placeholder="Contraseña">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Tu contraseña</mat-hint>
                <div *ngIf="password?.errors && password?.touched">
                    <mat-error *ngIf="password?.hasError('required')">La contraseña es requerida.</mat-error>
                    <mat-error *ngIf="password?.hasError('minlength')">La contraseña debe tiener 8 o más caracteres.</mat-error>
                    <mat-error *ngIf="password?.hasError('mismatch')">Las contraseñas no coinciden.</mat-error>
                </div>
            </mat-form-field>

            <div mat-dialog-actions class="botones">
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink="/personas">
                    <mat-icon>home</mat-icon>
                  </button>
                <button [disabled]="!registerForm.valid" mat-stroked-button color="primary">Ingresar</button>
            </div>
        </form>
    </mat-dialog-content>
</mat-card>