<h1 class="m-5">Iniciar Sesión</h1>
<form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="name@example.com">
        <div *ngIf="Email?.errors && Email?.touched">
            <p *ngIf="Email?.hasError('required')" class="text-danger">El email es requerido.</p>
            <p *ngIf="Email?.hasError('email')" class="text-danger">El email debe ser válido.</p>
        </div>
    </div>
    <div class="mb-3">
        <label for="pass" class="form-label">Contraseña</label>
        <input type="password" formControlName="password" class="form-control" id="pass">
        <div *ngIf="Password?.errors && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="text-danger">La contraseña es requerida.</p>
            <p *ngIf="Password?.hasError('minlength')" class="text-danger">La contraseña debe tiener 8 o más caracteres.
            </p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>