<div class="container">
    <!-- <p><strong>N°: </strong>{{ estudio.id }}</p> -->
    <h3><strong>Institución: </strong>{{ estudio.institucion }}
        <div *ngIf="autorizacion">
            <button mat-icon-button color="primary" (click)="onEdit(estudio)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(estudio)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </h3>
    <p><strong>Titulo: </strong>{{ estudio.titulo }}</p>
    <p><strong>Progreso: </strong>{{ estudio.estado | titlecase }}</p>
    <p><strong>Lugar: </strong>{{ estudio.lugar }}</p>
</div>
<mat-divider></mat-divider>