<div class="container">
    <!-- <p><strong>N°: </strong>{{ habilidad.id }}</p> -->
    <h3><strong>Capacidad: </strong>{{ habilidad.nombre }}
        <div *ngIf="autorizacion">
            <button mat-icon-button color="primary" (click)="onEdit(habilidad)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(habilidad)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </h3>
    <div class="barra">
        <mat-progress-bar mode="determinate" color="primary" value="{{ habilidad.nivel }}"></mat-progress-bar>
    </div>
    <p><strong>Nivel de confianza: </strong>{{ habilidad.nivel }}%</p>
    <p><strong>Descripción: </strong>{{ habilidad.descripcion }}</p>
</div>
<mat-divider></mat-divider>